* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #2b2d42;
  text-align: center;
  line-height: 1.5;
  background-color: #ffff;
}

footer {
  padding: 1% 0;
  background-color: #2b2d42;
  color: #f2f2f2;
}

.app-container {
  height: 100vh;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2b2d42;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ffff;
  color: black;
}

button:hover {
  background: #008000;
}

.error {
  color: red;
}
